html {
    background: #171731;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}

h1 {
    font-size: 55px;
    font-weight: bold;
    color: #efecea;
    padding: 20px;
    margin: 5px;
}

#intro {
    margin: 0 15%;
    margin-bottom: 3%;
    line-height: 1.5;
}

p {
    color: #efecea;
    font-size:20px;
    padding: 10px;
    margin: 5px;
}

#image {
    width: 70%;
    border: 3px solid #1ea386;
    border-radius: 20px;
}

#title {
    font-size: 30px;
    font-weight: bold;
}

#copyright {
    font-weight: bold;
    font-style: italic;
    padding-top: 2px;
}

#explanation {
    text-align: justify;
    margin: 0 15%;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.5;
}

footer {
    color: #efecea;
    background: #1ea386;
    padding: 12px;
}

@media(max-width:768px) {
    #image {
        width: 95%
    }
}